@mixin table-item {
	padding: 8px;
	border-left: 1px solid rgb(221, 221, 221);
	border-right: 1px solid rgb(221, 221, 221);
}

.city-weather {
	font-size: 12px;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ddd;
	margin-top: 8px;
    margin-bottom: 40px;
	&__header {
		background-color: #007bff;
		text-align: left;
		color: #fff;
		&-item {
			@include table-item;
		}
	}
	&__body {
		&-row:nth-child(odd) {
			background: #d9edf7;
		}

		&-item {
			@include table-item;
		}
	}

	.early {
		color: red;
	}

	.late {
		color: blue;
	}

	.on-time {
		color: green;
	}
}