.search {
	&__wrap {
		display: flex;
		margin-bottom: 10px;
	}

	&__label {
		flex-grow: 1;
	}

	&__input {
		flex-grow: 3;
	}

	&__submit {
		float: right;
		margin-bottom: 20px;
		box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.2);
	}
}